<!-- Main jumbotron for a primary marketing message or call to action -->
<style>
  .contact-form .form-group.error .form-control, .contact-form .form-group.error label, .contact-form .error .form-control {
  border-color: #ff0000;
  }
  #success{
    display:none;
    position: absolute;
    top: -48px;
    left: 0;
  }
</style>
<div id="wrapper">
  <%= render 'layouts/header' %>
  <!--Breadcrumb Section Start Here-->
    <div class="breadcrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Forgot your password?</h1>
            <ul class="breadcrumb">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li class="active">
                Reset Password
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!--Breadcrumb Section End Here-->

  <div id="main">
    <div class="content-wrapper container" id="page-info">
      <div class="row">
        <div class="col-xs-12 col-sm-6 contact-form">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group col-xs-12 col-sm-6">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
                  </div>
                </div>
                <div class="col-xs-12 form-group btns-wrapper">
                  <div class="form-group col-xs-12 col-sm-6">
                      <%= f.submit "Send", :class => "btn btn-default pull-left"  %>
                  </div>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
              
          <% end %>

        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 contact-address">
          <h4>Forgot your password?</h4>
          <p>We'll send you an e-mail with instructions for recovering your password.</p>
        </div>
      </div>
    </div>
  </div>
</div>
