<div id="wrapper">
      <%= render 'layouts/header' %>
      <!-- Site Content -->
      <div id="main">
        <!-- banner slider Start Here -->
        <section class="rev_slider_wrapper banner-section">
          <div class="rev_slider banner-slider">

            <ul>
              <!-- SLIDE  -->
              <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-1" >
                <!-- MAIN IMAGE -->
                <%= image_tag('21.jpg', :class => 'img-proportionate') %>
                
                  <div
                  data-endspeed="800"
                  data-easing="easeOutCirc"
                  data-start="800"
                  data-speed="700"
                  data-y="150"
                  data-x="152"
                  class="tp-caption sft banner-heading">
                    <h2><strong>NPO</strong></h2>
                  </div>

                  <div
                  data-endspeed="1000"
                  data-easing="easeOutCirc"
                  data-start="1000"
                  data-speed="700"
                  data-y="204"
                  data-x="152"
                  class="tp-caption sft banner-summary">
                    <p>
                     A winning alternative to current fund raising efforts. Effortless added fundraising with minimal required effort. Ongoing effort to make a big difference.
                    </p>
                  </div>

                  <div
                  data-endspeed="1200"
                  data-easing="easeOutCirc"
                  data-start="1200"
                  data-speed="700"
                  data-y="316"
                  data-x="152"
                  class="tp-caption sft">
                    <a data-toggle="modal" href="/npo" class="btn btn-default">LEARN MORE</a>
                  </div>

              </li>
              <!-- SLIDE  -->
              <!-- SLIDE  -->
              <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-1" >
                <!-- MAIN IMAGE -->
                <%= image_tag('22.jpg', :class => 'img-proportionate') %>

               <div
                data-endspeed="800"
                data-easing="easeOutCirc"
                data-start="800"
                data-speed="700"
                data-y="150"
                data-x="152"
                class="tp-caption sft banner-heading">
                  <h2><strong>DONOR</strong></h2>
                </div>

                <div
                data-endspeed="1000"
                data-easing="easeOutCirc"
                data-start="1000"
                data-speed="700"
                data-y="204"
                data-x="152"
                class="tp-caption sft banner-summary">
                  <p>
                   Support your cause with dollars you would spend everyday. Follow up visits support no profit too. Help your non profit find new donors.
                  </p>
                </div>

                <div
                data-endspeed="1200"
                data-easing="easeOutCirc"
                data-start="1200"
                data-speed="700"
                data-y="316"
                data-x="152"
                class="tp-caption sft">
                  <a data-toggle="modal" href="/donor" class="btn btn-default">LEARN MORE</a>
                </div>
              </li>
              <!-- SLIDE  -->
              <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-1">
                <!-- MAIN IMAGE -->
                <%= image_tag('SplitShire_IMG_7348.jpg', :class => 'img-proportionate') %>

                <div
                data-endspeed="800"
                data-easing="easeOutCirc"
                data-start="800"
                data-speed="700"
                data-y="150"
                data-x="152"
                class="tp-caption sft banner-heading">
                  <h2><strong>BUSINESS</strong></h2>
                </div>

                <div
                data-endspeed="1000"
                data-easing="easeOutCirc"
                data-start="1000"
                data-speed="700"
                data-y="204"
                data-x="152"
                class="tp-caption sft banner-summary">
                  <p>
                   Join patrons to support non profit. Create loyal partners with return visits. Help patron recruit more new patrons.
                  </p>
                </div>

                <div
                data-endspeed="1200"
                data-easing="easeOutCirc"
                data-start="1200"
                data-speed="700"
                data-y="280"
                data-x="152"
                class="tp-caption sft">
                  <a data-toggle="modal" href="/business" class="btn btn-default">LEARN MORE</a>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <!-- banner slider End Here -->
       
  <!--Content End Here -->
  <!--Footer Section Start Here -->
    <%= render 'layouts/footer' %>
  <!--Footer Section End Here -->

</div>