<div class="row">
    <h2>NPO Information</h2>
    <p>Name: <%= @npo.name %></p>
    <p>Address: <%= @npo.address %></p>
    <p>Phone: <%= @npo.phone %></p>
    <p>Email: <%= @npo.email %></p>
    <p>Website: <%= @npo.web %></p>
</div>
